# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1
absl-py==0.9.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
appdirs==1.4.3
applaunchservices==0.2.1
appnope==0.1.0
appscript==1.1.0
argh==0.26.2
arrow==0.15.5
asn1crypto==1.3.0
astor==0.8.1
astroid==2.3.3
astropy==4.0.1.post1
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs==19.3.0
autopep8==1.5.2
awscli==1.16.256
Babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.9.0
binaryornot==0.4.4
bitarray==1.2.1
bkcharts==0.2
bleach==3.1.4
bokeh==2.0.1
boto==2.49.0
boto3==1.9.246
botocore==1.12.246
Bottleneck==1.3.2
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1588164361239/work
clyent==1.2.2
colorama==0.4.1
conda==4.8.3
conda-build==3.18.8
conda-package-handling==1.6.0
conda-verify==3.4.2
contextlib2==0.6.0.post1
cookiecutter==1.6.0
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.3
Cython==0.29.17
cytoolz==0.9.0.1
dask==2.15.0
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20181111
dill==0.2.9
distlib==0.3.0
distributed @ file:///Users/runner/miniforge3/conda-bld/distributed_1588346794308/work
docutils==0.15.2
editdistance==0.5.3
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.0.0/en_core_web_lg-2.0.0.tar.gz
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
feedfinder2==0.0.4
feedparser==5.2.1
filelock==3.0.10
Fiona==1.8.13
flake8==3.7.9
Flask==1.1.2
fsspec==0.7.3
future==0.18.2
gast==0.2.2
GDAL==3.0.4
geograpy3==0.1.2
geopandas==0.7.0
gevent @ file:///Users/runner/miniforge3/conda-bld/gevent_1588347484186/work
glob2==0.7
gmpy2==2.1.0b1
google-auth==1.14.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
gql==0.3.0
graphql-core==2.3.1
greenlet==0.4.15
grpcio==1.28.1
gspread==3.1.0
h5py==2.10.0
HeapDict==1.0.1
html5lib==1.0.1
hypothesis==5.10.4
idna==2.9
imageio==2.8.0
imagesize==1.2.0
importlib-metadata==1.6.0
intervaltree==3.0.2
ipykernel==5.2.1
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1588362986989/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.2
jellyfish==0.7.2
jieba3k==0.35.1
Jinja2==2.11.2
jinja2-time==0.2.0
jmespath==0.9.5
joblib==0.14.1
json5==0.9.0
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.1
jupyterlab-server==1.1.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==21.1.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
lief==0.9.0
llvmlite==0.31.0
locket==0.2.0
lxml==4.5.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
mordecai==2.0.3
more-itertools==8.2.0
mpmath==1.1.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
multipledispatch==0.6.0
munch==2.5.0
murmurhash==1.0.2
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.6
neo4j==1.7.0.dev0
neobolt==1.7.17
neomodel==3.2.5
neotime==1.7.4
networkx==2.4
newspaper3k==0.2.8
nltk==3.4.5
nose==1.3.7
notebook==6.0.3
numba==0.48.0
numexpr==2.7.1
numpy==1.18.1
numpydoc==0.9.2
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.3
opt-einsum==3.2.1
packaging==20.1
pandas==1.0.3
pandocfilters==1.4.2
parso==0.5.2
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pbr==5.4.5
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pkginfo==1.5.0.1
plac==0.9.6
pluggy==0.12.0
ply==3.11
poyo==0.5.0
preshed==2.0.1
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.11.3
psutil==5.7.0
ptyprocess==0.6.0
py==1.8.1
py2neo==4.2.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycosat==0.6.3
pycountry==19.8.18
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.5
pydocstyle==5.0.2
pyflakes==2.1.1
Pygments==2.6.1
pylint==2.4.4
pyodbc==4.0.30
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyproj==2.6.0
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtWebEngine==5.12.1
pyrsistent==0.16.0
PySocks==1.7.1
pytest==5.4.1
pytest-arraydiff==0.3
pytest-astropy==0.7.0
pytest-astropy-header==0.1.2
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.1
python-dateutil==2.8.1
python-dotenv==0.13.0
python-jsonrpc-server==0.3.4
python-language-server==0.31.10
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.1.2
pyzmq==19.0.0
QDarkStyle==2.8.1
QtAwesome==0.7.1
qtconsole==4.7.3
QtPy==1.9.0
regex==2018.1.10
requests==2.23.0
requests-file==1.5.1
requests-oauthlib==1.3.0
rope==0.16.0
rsa==3.4.2
Rtree==0.9.4
ruamel-yaml==0.15.80
Rx==1.6.1
s3transfer==0.2.1
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
Shapely==1.7.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.22
six==1.14.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.4
spacy==2.0.18
Sphinx==3.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-websupport_1588158706257/work
spyder==4.1.2
spyder-kernels==1.9.0
SQLAlchemy==1.3.16
statsmodels==0.11.1
stevedore==1.32.0
sympy==1.5.1
tables==3.6.1
tblib==1.6.0
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
thinc==6.12.1
tinysegmenter==0.3
tldextract==2.2.2
toolz==0.10.0
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.1
ujson==1.35
unicodecsv==0.14.1
urllib3==1.24.3
virtualenv==20.0.20
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
watchdog==0.10.2
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer==2.0.0
xlrd==1.2.0
XlsxWriter==1.2.8
xlwings==0.18.0
xlwt==1.3.0
yapf==0.29.0
zict==2.0.0
zipp==3.1.0
